DISCORD_BOT_TOKEN=
BOT_ID=0
YOMIAGE_DB=yomiage.sqlite3
MAX_TOKENS=400

VOICEVOX_SPEAKER_ID=3
VOICEVOX_SPEED=1.2
VOICEVOX_ONNXRUNTIME_PATH=./voicevox_core/onnxruntime/lib/libvoicevox_onnxruntime.so.1.17.3
OPEN_JTALK_DIC_DIR=./voicevox_core/dict/open_jtalk_dic_utf_8-1.11
VOICEVOX_MODEL_PATH=./voicevox_core/models/0.vvm
VOICEVOX_CACHE_SIZE=100

FFMPEG_PATH=ffmpeg
